/* #region main */
:root {
    --brand-color: #434455;
    --secondary-color-text: #2E2F42;;
    --accent-color: #4D5AE5;
    --secondary-color-logo: #F4F4FD;
    --color-hover: #404BBF;
    --white-color: #fff;
    --color-hover-footer: #31D0AA;
    --border-icons: #8E8F99;
    --border-picture: #E7E9FC;
    --modal-color: #FCFCFC;

}
html {
scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color);
    background-color: var(--white-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
h2, h3 {
    color: var(--secondary-color-text);
}
img {
    display: block;
    width: 100%;
}
.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
   .container {
    width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
   .container {
    width: 1158px;
    padding: 0 15px;
  }
}

.section {
    padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
   .section {
    padding: 120px 0;
  }
}
 /* #endregion main */


/* #region Header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    border-bottom: 1px solid var(--border-picture);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo a:hover, 
.logo a:focus {
    color: var(--color-hover);
    
}
.nav {
    display: flex;
    align-items: center;
}
.logotype {
    display: flex;
    align-items: center;
    margin-right: 76px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.wrap {
    color: var(--secondary-color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrap:hover, .wrap:focus {
    color: var(--color-hover);
    
}

.nav-list {
    display: inline-flex;
    gap: 40px;
}
@media only screen and (max-width: 767px) {
   .nav-list{
    display: none;
  }
}
.link{
    display: block;
    position: relative;
    padding: 24px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--secondary-color-text);
}
.link-current {
    color: var(--color-hover);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-hover);
}

.list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}
@media only screen and (max-width: 767px) {
    .item-link {
    display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
   .item-link{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
   .item-link{
    display: flex;
    gap: 40px;
  }
}


@media only screen and (min-width: 768px) {
   .list-link{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
   .list-link{
    padding: 24px 0;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}


@media only screen and (max-width: 767px) {
   .burger-menu-container{
    padding: 16px 0;
  }
}
@media only screen and (min-width: 768px) {
   .burger-menu-container{
    display: none;
  }
}
/* #endregion Header */


/* #region Banner */
.banner {
    padding: 72px 0;
    max-width: 1440px;
    margin: 0 auto;
    
    background-color: var(--secondary-color-text);
    background-image: url(../images/people-deck.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/banner/people-mobile.jpg);
}
@media only screen and (min-width: 768px) {
   .banner{
    padding: 112px 0;
  }
}
@media only screen and (min-width: 1157px) {
    .banner {
        padding: 188px 0;
    }
}

@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/banner/people-mobile@2x.jpg);
    }
}
@media only screen and (min-width: 768px) {
.banner {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/banner/people-tab.jpg);
}
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/banner/people-tab@2x.jpg);
    }
}
@media only screen and (min-width: 1158px) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/banner/people-deck.jpg);
    }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/banner/people-deck@2x.jpg);
    }
}




.banner-up{
    max-width: 216px;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--white-color);
    margin: 0 auto 72px auto;

    
}
@media only screen and (min-width: 768px) {
   .banner-up{
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px auto;
  }
}
@media only screen and (min-width: 1158px) {
    .banner-up {
     margin: 0 auto 48px auto;
    }
}
.button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    background-color: var(--accent-color);
    color: var(--white-color);
    border: var(--accent-color);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
    
}

.button:hover, .button:focus {
    background-color: var(--color-hover);
    border: var(--color-hover);

}

/* #endregion Banner */


/* #region section principles */

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
@media only screen and (min-width: 768px) {
   .list-wrapper{
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
   .list-wrapper{
    gap: 24px;
  }
}

.icon-wrapper {
    display: none;
}
@media only screen and (min-width: 1158px) {
   .icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--border-icons);
    background: var(--secondary-color-logo);
  }
}

.list-item {
}
@media only screen and (min-width: 768px) {
   .list-item{
    width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1158px) {
   .list-item{
    width: calc((100% - 24px * 3) / 4);
  }
}
.wrap-text { 
    text-align: center;
    line-height: 1.2;
    font-size: 36px;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
} 
@media only screen and (min-width: 768px) {
   .wrap-text{
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
   .wrap-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}
@media only screen and (min-width: 1158px) {
   .text{
    font-weight: 400;
  }
}
/* #endregion section principles */


/* #region Out Team */
.wrap-list {
    background-color: var(--secondary-color-logo);
}
.title {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em
}

.wrapper-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}
@media only screen and (min-width: 768px) {
   .wrapper-list{
    gap: 64px 24px;
  }
}
@media only screen and (min-width: 1158px) {
   .wrapper-list{
    gap: 24px;
  }
}
.card-wrap {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
   .card-wrap{
    width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
    .card-wrap {
        width: calc((100% - 3 * 24px) / 4);
    }
}

.wrapper-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.card-text {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.text-card {
    margin-bottom: 8px;
    font-weight: 400;
}
.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    cursor: pointer;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, 
.social-link:focus {
    background-color: var(--color-hover);
}
.social-icon {
    fill: var(--secondary-color-logo);
}

/* #endregion Out Team */


/* #region Our Portfolio */
.wrap-pic {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}
@media only screen and (min-width: 768px) {
   .wrap-pic{
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
    .wrap-pic {
        gap: 48px 24px;
    }
}

.pic-wrapper {
    /* width: calc((100% - 2 * 24px) / 3); */
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
   .pic-wrapper{
    width: calc((100% - 1 * 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
    .pic-wrapper {
        width: calc((100% - 2 * 24px) / 3);
    }
}
.pic-wrapper:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.picture-wrapper:hover .overlay {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.picture-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px 40px 32px;

    letter-spacing: 0.02em;
    color: var(--secondary-color-logo);
    background: var(--accent-color);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.list-picture {
    padding: 32px 16px;
    border: 1px solid var(--border-picture);
    border-top: none;
}
.wrapper-title {
    line-height: 1.2;
}
.picture-text {
    font-weight: 400;
}


/* #endregion Our Portfolio */

/* #region Footer */
.logo-title {
    padding: 96px 0;
    background-color: var(--secondary-color-text); 
}
@media only screen and (min-width: 1158px) {
   .logo-title{
    padding: 100px 0;
  }
}
.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-wrap {
    margin-left: 108px;
    gap: 72px 24px;
    }
}
@media only screen and (max-width: 767px) {
   .footer-container{
     margin-bottom: 72px;
    
  }
}
@media only screen and (min-width: 1158px) {
   .footer-container{
    margin-right: 120px;
  }
}

.wrapper {
    justify-content: center;
    margin: 0 auto 16px auto;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .wrapper {
        justify-content: flex-start;

    }
}
.wrapper:hover, .wrapper:focus {
    color: var(--color-hover);   
}

.wrap-span {
    color: var(--secondary-color-logo);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrap-span:hover, 
.wrap-span:focus {
    color: var(--color-hover);
}
.wrapper-text {
    max-width: 288px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--secondary-color-logo);
}
@media only screen and (min-width: 768px) {
   .wrapper-text{
    width: 264px;
  }
}

@media only screen and (max-width: 767px) {
   .social-media{
    text-align: center;
    margin: 0 auto 72px auto;
  }
}
@media only screen and (min-width: 1158px) {
   .social-media{
    margin-right: 80px;
  }
}


.text-media {
    margin-bottom: 16px;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--white-color);
}
@media only screen and (min-width: 768px) {
   .text-media{
    text-align: left;
    
  }
}
.media-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.media-link:hover,
.media-link:focus {
    background-color: var(--color-hover-footer);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 767px) {
.subscribe {
    text-align: center;
    }
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
@media only screen and (min-width: 768px) {
   .footer-form{
    gap: 24px;
  }
}

.footer-input {
    padding-left: 16px;
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    background-color: transparent;
    color: var(--white-color);
    border-radius: 4px;
    border: 1px solid var(--white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;

    opacity: 0.6;
}
@media only screen and (min-width: 768px) {
   .footer-input{
    width: 264px;
    opacity: 0.3;
  }
}
@media only screen and (min-width: 1158px) {
   .footer-input{
    opacity: 1;
  }
}
.footer-input::placeholder {
    color: var(--white-color);
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);;

    cursor: pointer;
}
.footer-btn:hover,
.footer-btn:focus {
    background-color: var(--color-hover);
    border: var(--color-hover); 
}

.footer-icon {
    margin-left: 16px;
}
/* #endregion Footer */

/* #region Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px ;

    border-radius: 4px;
    background: var(--modal-color);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
   .modal{
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    background-color: var(--border-picture);
    border-color:rgba(0, 0, 0, 0.10);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--color-hover);
    border: none;
    fill: var(--white-color);
}
.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    margin-bottom: 16px;

    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--secondary-color-text);
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--border-icons);
}

.modal-form-wrapper {
    position: relative;
    margin-bottom: 16px;
}

.modal-form-input {
    padding: 8px 38px;
    
    width: 100%;
    height: 40px;
    border-radius: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    
    outline: transparent;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon{
    fill: var(--accent-color);
}
.modal-form-input:hover,
.modal-form-input:focus {
    border-color: var(--accent-color);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    padding: 8px 16px;
    width: 256px;
    height: 120px;
    outline: transparent;
    resize: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    background-color: transparent;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.40);
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
   .modal-textarea{
    width: 360px;
  }
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: var(--accent-color);
}
.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.checkbox-wrap {
    margin-bottom: 24px;
}


.label-checkbox {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--border-icons);
}

.review-form-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;

    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-policy {
    line-height: 1.33;
    text-decoration-line: underline;

    color: var(--accent-color);
}
@media only screen and (max-width: 767px) {
   .input-policy{
    margin-left: 20px;
  }
}
.btn-send {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--white-color);
    background-color: var(--accent-color);
    border: none;

    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked ~ label .review-form-checkbox {
    background-color: var(--color-hover);
    border: none;
    fill: var(--secondary-color-logo);
}
/* #endregion Modal */

/* #region Modal-menu  */

@media only screen and (min-width: 768px) {
   .burger-menu-overlay{
    display: none;
  }
}
.burger-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 72px 24px 40px 16px;

    background-color: var(--white-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.burger-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}
.burger-list .current-link {
    color: var(--color-hover);
}


.link-nav {
    display: inline-flex;
    gap: 40px;
    
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color-text);
}

.burger-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.burger-link {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--brand-color);
    text-decoration: none;
}
.burger-link:hover,
.burger-link:focus {
    color: var(--accent-color);
}
.burger-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.burger-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
}
.burger-social:hover,
.burger-social:focus {
    background-color: var(--color-hover);
}

/* #endregion Modal-menu */